@charset "UTF-8";
a {
  text-decoration: none;
}

.headerTitle {
  background-image: url("../img/header.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 15vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerTitle h1 {
  color: white;
  font-size: 3em;
}

.menu table {
  width: 90%;
  margin: 20px auto 40px auto;
  border-collapse: collapse;
  table-layout: fixed;
}

.menu table a {
  color: black;
  padding: 5px;
  font-size: 1.0em;
  cursor: pointer;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  height: 30px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(247, 247, 247, 0.896);
  margin: 0;
}

p {
  margin: 10px auto;
}

a {
  text-decoration: none;
}

.container {
  text-align: center;
}

.contentBox {
  margin: 50px auto;
}

.contentBox .title p {
  margin-bottom: 0px;
  font-size: 1.1em;
}

.contentBox .title h2 {
  margin: 0 auto;
}

#profile .profile__table {
  margin: 20px auto;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
}

#profile td {
  padding: 10px 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#profile td:nth-child(1) {
  min-width: 150px;
  background-color: lightgray;
}

#profile td:nth-child(2) {
  min-width: 300px;
}

#career hr {
  border-width: 2px 0 0 0;
  border-color: #76bb75;
}

#career .career__box {
  margin: 20px auto;
  padding: 5px;
  border: 2px solid #76bb75;
  border-radius: 5px;
  width: 60%;
}

#career .career__box div {
  margin: 10px;
}

#career .career__box .year {
  line-height: 20px;
  margin-right: 50px;
}

#career .career__box .belonging {
  line-height: 30px;
  font-weight: bold;
  font-size: large;
}

#career .career__box .detail {
  text-align: left;
}

#tech .tech__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#tech .tech__content .tech__box {
  margin: 10px;
  padding: 5px;
  max-width: 100%;
}

#tech .tech__content .tech__box p {
  font-weight: bold;
  font-size: large;
}

#tech .tech__content .tech__box table {
  text-align: left;
  margin: 10px auto;
  border-collapse: collapse;
}

#tech .tech__content .tech__box table tr {
  height: 10px;
}

#tech .tech__content .tech__box table td {
  padding: 10px;
  text-align: left;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#tech .tech__content .tech__box table td:nth-child(1) {
  text-align: center;
  width: 150px;
  background-color: lightgray;
}

#tech .tech__content .tech__box table td:nth-child(2) {
  text-align: left;
  max-width: 600px;
}

#others .others__acd {
  margin: auto;
  width: 60%;
  list-style: none;
  padding-left: 0px;
}

#others .others__acd li {
  margin: 10px 0;
}

#others .acd-content {
  max-height: 0;
  min-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}

#others .acd-content ul {
  margin: 0px auto;
  text-align: left;
  max-width: 50%;
}

#others #research ul {
  margin: 0px auto;
  text-align: left;
  max-width: 80%;
}

#others .acd-title {
  padding: 5px 5px;
  margin: 0;
  border: 2px solid #76bb75;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

#others .acd-title::before {
  content: "＋";
  position: absolute;
  right: 10px;
}

#others .acd-title.open + .acd-content {
  max-height: 1000px;
}

#others .acd-title.open::before {
  content: "－";
}
/*# sourceMappingURL=style.css.map */